{% extends "base.html" %}

{% block header %}
<h2>Manage lists</h2>
{% endblock %}

{% block main %}
  <form class="form-style" method="post">
    <input type="hidden" name="_csrf" id="token" value="{{ csrfToken }}" />
    <input type="text" class="input-field" name="name" placeholder="New list name" required/>
    <input type="submit" value="create list">
  </form>
  <table class="styled-table">
    <thead>
    <tr>
      <th>UUID</th>
      <th>Name</th>
      <th>Items</th>
      <th>Create date</th>
      <th>Last update</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for list in data %}
      <tr>
        <td><a class="tablelink" href="/tools/lists/{{ list.id }}">{{  list.id }}</a></td>
        <td>{{  list.name }}</td>
        <td><a class="tablelink" href="/tools/lists/{{ list.id }}/items">{{  list.items.length }}</a></td>
        <td><small>{{ list.createdAt }}</small></td>
        <td><small>{{ list.updatedAt }}</small></td>
        <td><small><a href="" onclick="deleteList('{{ list.id }}')">Remove</a></small></td>
      </tr>
    {% else %}
      <tr>
        <td colspan="5" class="wide">This would display lists, if having any in the database...</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <script src="../../../tools-list-manager.js"></script>
{% endblock %}
