app:
    name: njs-sandbox
    port: 5000
    logging:
        level: debug

    templating:
        autoescape: true
        throwOnUndefined: false
        watch: false
        noCache: false

db:
    url: mongodb://localhost:27001,localhost:27002,localhost:27003/njs-sandbox

security:
    paseto:
        privateKey: default-private-key
    session:
        secret: keyboard-cat
        resave: false
        saveUninitialized: false

    cookie:
        secret: milky-cookie
        options:
            secure: true

    google:
        clientID: GOOGLE_CLIENT_ID
        clientSecret: GOOGLE_CLIENT_SECRET
        callbackURL: /oauth2/redirect/accounts.google.com
        scope:
        - profile
